/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul,ol,li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*------------Общие параметры------------*/
html, 
body {
    height: 100%;
	line-height: 1;
	font-size: 16px;
	font-weight: 400;
	color: #212529;
	font-family: Roboto;
	background-color: #fff;
}
.wrapper {
    overflow: hidden;
	min-height: 100%;
	display: flex;
	flex-direction: column;

}
._container {
	max-width: 1440px;
	padding: 13px 16px;
	margin: 0px auto;
	box-sizing: content-box;
}
/*------------header------------*/
.header {
}
.header__container {
    display:flex;
    justify-content: space-between;
}
.header__logo {
    width: 70px;
    height: 74.375px;
}
.header__menu {
    display:flex;
    flex-direction: column;
}
.menu {
}
.header__list {
}
.menu-item:not(:last-child) {
    margin-bottom: 8px;
}
.menu__link {
    color:#212529;
    line-height: 117%;
}
.header__contact-phone {
    color:#212529;
}
/*------------page-title------------*/
.page-title {
    margin: 44px 0px 32px 0px;
}
.page-title__container {
    display: flex;
    justify-content: space-between;
}
.title-block {
    height: 258px;
    width: 794px;
}
.title {
    text-transform: uppercase;
    font-family: Helvetica;
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}
.link-block {
    padding: 10px 0px;
    height: 258px;
    display: flex;
    align-items: flex-end;
}
.order-link {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 117%;
    text-decoration: underline;
    color: #212529;
}
/*------------page-subtitle------------*/
.page-subtitle {
    margin-bottom: 120px;
}
.page-subtitle__container {
    block-size: fit-content; 
}
.page-subtitle__blocks {
    display: flex;
}
.page-subtitle__block_1 {
    flex: 0 1 52.91%;
    /* display: flex; */
    position: relative;
    /* flex-direction: column;
    justify-content: space-between; */
}
.subtitle-description {
font-family: Roboto;
font-size: 20px;
font-weight: 400;
line-height: 140%;
}
.page-subtitle__block_1 > .img_1 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 329px;
    height: 493px;
}
.page-subtitle__container-card{
    margin: 0px 0px 0px 0px;
	padding: 0px 0px 119.3% 0px;
	overflow: hidden;
	position: relative;    
}
.page-subtitle__block_2 {
    flex: 0 1 47.09%;
}
.page-subtitle__container-card .img_2 {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
}
/*------------about-us------------*/
.about-us {
    margin-bottom: 120px;
}
.about-us__blocks {
    display: flex;
    /* justify-content: space-between; */
}
.about-us__block_1 {
    /* max-width: 652px; */
    flex: 0 1 52.91%;
}
.block_sub-title {
    font-family: Helvetica;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.about-us__block_2 {
    flex: 0 1 47.09%;
    padding: 10px 0px 10px 0px;
}
.about-us__info-block_1 {
    margin-bottom: 44px;
}
.about-us__description > p {
    font-family: Roboto;
    font-style: normal;
    line-height: 140%;
}
.about-us__description > p:not(:last-child) {
    margin-bottom: 16px;
}
.about-us__info-item:not(:last-child) {
    margin-bottom: 24px;
}
.info-item-title {
    font-family: Helvetica;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.info-item-description {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}
/*-----------How we work----------------------*/
.how-we-work {
    margin-bottom: 120px;
}
.how-we-work__blocks {
    display: flex;
    /* justify-content: space-between; */
}
.how-we-work__block_1 {
    flex: 0 1 52.91%;
}
.how-we-work__block_2 {
    flex: 0 1 47.09%;
}
.algorithm-text {
    padding: 5px 0px;
}
.algorithm-text > p{
    font-size: 16px;
    line-height: 140%;
}
.work__stages {
    display: flex;
    flex-direction: column;
}
.work-stage {
    display: flex;
    justify-content: space-between;
    border-bottom: #000 solid 1px;
}
.work-stage {
    padding: 34px 0px 24px 0px;
}
.stage-description__block {
    min-width: 330px;
}
.stage-description__text > p {
    font-family: Roboto;
    font-style: normal;
    line-height: 140%;
}
.info-item-description {
    font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 140%;
}
/*-----------Projects----------------------*/
.projects {
    margin-bottom: 120px;
}
.projects-images__row {
    margin: 0px -5px 10px -5px;
	display: flex;
}
.row_1 {
    margin-top: 32px;
}
.projects-cards__image {
    flex: 0 1 33.333%;
    padding: 0px 5px;
}
/* Контейнер картинки */
.card__image {
	padding: 0px 0px 130.33% 0px;
	overflow: hidden;
	position: relative;
}
/* Картинка */
.card__image img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
}
/*-----------reviews----------------------*/
.reviews {
    margin-bottom: 120px;
}
.reviews__row {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
}
.reviews__column {
    display: flex;
    flex-direction: column;
    max-width: 445px;
    border: #000 1px solid;
    padding: 40px 60px;
}
.reviews__column:not(:last-child){
    margin-right: 20px;
}
.reviews__icon {
    display: flex;
    justify-content: center;
    align-items: center;
}
.author-name {
    text-align: center;
    margin: 32px 0px 10px 0px;
}
.author-name p{
font-family: Helvetica;
font-size: 18px;
font-weight: bold;
line-height: normal;
}
.reviews__text {
margin-top: 10px;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 140%;
text-align: center;
}
/* -----Contact-us------ */
.contact-us {
    margin-bottom: 120px;
}
.contact-us__rows {
    display: flex;
}
.contact-us__column_1 {
    flex: 0 1 41%;
    margin-right: 120px;
}
.image__container {
	padding: 0px 0px 100% 0px;
	overflow: hidden;
	position: relative;
}
.image__container img{
    width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
}
.form__block {
    display: flex;
    flex-direction: column;
}
.form__title h3{
color: black;
font-family: Helvetica;
font-size: 48px;
font-weight: 400;
line-height: normal;
text-align: left;
line-height: 137.5%;
}
.form__subtitle {
    margin-top: 32px;
}
.form {
    margin-top: 72px;
}
.sub-form {
    height: 31px;
    border-bottom: #000 solid 1px;
    align-self: flex-start;
    margin-bottom: 16px;
}
.sub-form p {
    display: inline;
}
input {
    font-size: 20px;
    font-weight: 400px;
}
button {
background-color: #212529;
display: inline-flex;
padding: 12px 20px;
justify-content: center;
align-items: center;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 140%;
color: #fff;
margin: 8px 0px 48px 0px;
}
/* -----footer------ */
.footer__row {
    display: flex;
    justify-content: space-between;
}
.footer__column {
}
.footer__column_1 {
    padding-right: 10px;
}
.column__text p, a{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.footer__column_2 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}
.column__confidentility a{
color: #212529;
font-size: 16px;
font-weight: 400;
line-height: 140%;
}
.footer__column_3 {
    padding-left: 10px;
    display: flex;
    align-items: flex-end;
}
.column__links {
    display: flex;
    justify-content: space-between;
}
.link > a{
    color: #212529;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
.link:not(:last-child) {
margin-right: 40px;
}